<link rel="stylesheet" href="__CSS__/index/mobileClass.css">
<nav class="bg-white hidden-lg">
    <div class="text-dark p-1 bg-info rounded  d-flex justify-content-between justify-content-center m-3">
        <div class="mobile-nav">
            <a href="{:url('index/Commodity/allBooks')}">
                <img src="http://static.runoob.com/images/mix/cinqueterre.jpg" class="rounded-100">
            </a>
            <p>最新</p>
        </div>
        <div class="mobile-nav">
            <img src="http://static.runoob.com/images/mix/cinqueterre.jpg" class="rounded-100">
            <p>热销</p>
        </div>
        <div class="mobile-nav">
            <a href="{:url('index/Commodity/allBooks')}">
                <img src="http://static.runoob.com/images/mix/cinqueterre.jpg" class="rounded-100">
            </a>
            <p>优惠</p>
        </div>
        <div class="mobile-nav">
            <a href="{:url('index/Commodity/allBooks')}">
            <img src="http://static.runoob.com/images/mix/cinqueterre.jpg" class="rounded-100">
            </a>
            <p>所有</p>
        </div>
    </div>
</nav>