<link rel="stylesheet" href="__CSS__/index/mobileClass.css">
<nav class="bg-white hidden-lg">
    <div class="text-dark p-1 bg-info rounded  d-flex justify-content-between justify-content-center m-3">
        <div class="mobile-nav">
            <a href="{:url('index/Commodity/newBooks')}">
                <img src="__IMG__/new.png" class="rounded-100">
            </a>
            <p>最新</p>
        </div>
        <div class="mobile-nav">
            <a href="{:url('index/Commodity/hotBooks')}">
                <img src="__IMG__/hot.png" class="rounded-100">
            </a>
            <p>热销</p>
        </div>
        <div class="mobile-nav">
            <a href="{:url('index/Commodity/priceBooks')}">
                <img src="__IMG__/price.png" class="rounded-100">
            </a>
            <p>优惠</p>
        </div>
        <div class="mobile-nav">
            <a href="{:url('index/Commodity/allBooks')}">
            <img src="__IMG__/all.png" class="rounded-100">
            </a>
            <p>所有</p>
        </div>
    </div>
</nav>