{extend name="layout"/}

{block name="title"}<title>所有书籍</title>{/block}

{block name="static"}
<link rel="stylesheet" href="__CSS__/index/index.css">
{/block}

{block name="body"}
<!-- 头部 -->
<div class="container-fluid bg-light">
    <div class="col-12 bg-light">
        <!--顶部菜单-->
        {:widget('widgets/head_nav')}
    </div>
    <div class="row">
        <div class="col-12 bg-white">
            <!--搜索预留位-->
            {:widget('widgets/retrieval')}
        </div>
    </div>
</div>
<!--nav预留位-->
{:widget('widgets/main_nav')}
<div class="container-fluid p-0 hidden-lg">
    <!--轮播预留位-->
    {:widget('widgets/hot_images')}
</div>
<div class="container-fluid p-0">
    <!--移动端的分类列表-->
    {:widget('MobileWidgets/MobileClass')}
</div>
<div class="container mt-3">
    <!-- 分类 -->
    <div class="row">
        <div class="col-12 mb-1">
            <strong>主分类:</strong>
        </div>
        <div id="mainClass" class="col-12 border d-flex flex-wrap">
            {volist id="class_data" name="class_data" $key}
            {if $key <=14 }
                <div class="d-flex d-inline-flex p-2" style="cursor:pointer">
                    <kbd class="d-inline-flex
                    {$class_data.Id==$class_id?'bg-primary':'bg-secondary'} flex-nowrap" >
                        <a class="text-white" href="{:url('index/Commodity/allBooks',['class_id'=>$class_data.Id])}">
                            {$class_data.name}
                        </a>
                    </kbd>
                </div>
            {/if}
            {if $key ==15 }
            <div class="dropdown p-2">
                <button type="button" class="btn btn-sm btn-secondary dropdown-toggle"
                        data-toggle="dropdown">
                    更多...
                </button>
                <div class="dropdown-menu">
            {/if}
                    {if $key >=15 }
                    <a class="dropdown-item
                    {$class_data.Id==$class_id?'bg-primary':''}"
                       href="{:url('index/Commodity/allBooks',['class_id'=>$class_data.Id])}">{$class_data.name}</a>
                    {/if}
            {if $key+1 == $class_sum }
                </div>
            </div>
            {/if}
            {/volist}
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-1">
            <strong>子分类:</strong>
        </div>
        <div id="itemClass" class="col-12 border d-flex flex-wrap">
            {if !$item_data || count($item_data)==0}
            <div class="d-flex d-inline-flex p-2" style="cursor:pointer">
                还没有子分类
            </div>
            {/if}
            {volist id="item_data" name="item_data" $key}
            {if $key <=14 }
            <div class="d-flex d-inline-flex p-2" style="cursor:pointer">
                <kbd class="d-inline-flex
                    {$item_data.Id==$item_id?'bg-primary':'bg-secondary'} flex-nowrap" >
                    <a class="text-white"
                       href="{:url('index/Commodity/allBooks',['class_id'=>$item_data.book_class_id,'item_id'=>$item_data.Id])}">
                        {$item_data.name}
                    </a>
                </kbd>
            </div>
            {/if}
            {if $key ==15 }
            <div class="dropdown p-2">
                <button type="button"
                        class="btn btn-sm btn-secondary dropdown-toggle"
                        data-toggle="dropdown">
                    更多...
                </button>
                <div class="dropdown-menu">
            {/if}
                    {if $key >=15 }
                    <a class="dropdown-item {$item_data.Id==$item_id?'bg-primary':''}"
                       href="{:url('index/Commodity/allBooks',['class_id'=>$item_data.book_class_id,'item_id'=>$item_data.Id])}">
                        {$item_data.name}
                    </a>
                    {/if}
            {if $key+1 == $item_sum }
                </div>
            </div>
            {/if}
            {/volist}
        </div>
    </div>
</div>
<div class="container mt-2" style="min-height:300px;">
    <div class="d-flex flex-wrap justify-content-start">
        {if count($data) == 0}
        <div class="col-12 text-center" style="height: 200px;border: black 1px dashed">
            <h3 style="line-height: 200px">未找到任何相关书籍</h3>
        </div>
        {else}
        {volist name="data" id="data"}
        <div class="col-md-2 col-12 p-3 mt-2">
            <div class="row border-lg">
                <div class="col-md-12 col-4 d-flex
            justify-content-center align-items-center" style="overflow: hidden;">
                    <div class="m-lg-3">
                        <img style="width:90px;height: 120px;"   class="img-fluid img-thumbnail"
                             src="{$data.cover==''?'/default_cover/default_cover.png':$url.url.$data.cover}">
                    </div>
                </div>
                <div class="col-md-12 col-8">
                    <div class="ml-lg-3">
                        <dl>
                            <dt style="white-space: nowrap;">{$data.bookname}</dt>
                            <dl>
                                <kbd class="bg-danger small">¥{$data.price}</kbd>
                            </dl>
                        </dl>
                        <div class="btn-group btn-group-sm mb-2">
                            <input type="button" class="btn btn-success"
                                   onclick="window.location.href='{:url(\'index/Order/addOrder\',[\'data\'=>$data.Id,\'count\'=>1])}'" value="立即购买">
                            <button type="button" class="btn btn-danger"
                                    onclick="addShoppingCart({$data.Id})" >
                                <i class="fa fa-cart-plus"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {/volist}
        {/if}
    </div>
    <div class="d-flex align-items-center mt-2 justify-content-center">
        {$page}
    </div>
</div>
<div class="col-12 bg-dark">
    <div class="container">
        <div class="row">
            {:widget('Widgets/about')}
        </div>
    </div>
</div>
{/block}
