{extend name="layout"/}

{block name="title"}<title>登录</title>{/block}

{block name="static"}
<script src="__JS__/index/login.js"></script>
<style>
    .error
    {
        color: red;
    }
</style>
{/block}

{block name="body"}
{:widget('widgets/head_nav')}

<!-- logo -->
<div>
    <div class="row border-bottom">
        <div class="col-12">
            <nav class="navbar  navbar-expand-sm ">
                <div class="container">
                    <a class="navbar-brand" href="/">
                        <img class="img-fluid" src="__IMG__/logo.png" alt="javascript:">
                    </a>
                </div>
            </nav>
        </div>
    </div>
</div>

<!-- 表单 -->
<div class=" bg-info">
    <div class="container py-lg-5">
        <div class="col-lg-6 bg-white p-4 ">
            <h2>登录</h2>
            <form>
                <div class="form-group">
                    <label for="userid">账号:</label>
                    <input type="text" class="form-control" id="userid" placeholder="Enter userid">
                </div>
                <div class="form-group">
                    <label for="pass">密码:</label>
                    <input type="password" class="form-control" id="pass" placeholder="Enter password">
                </div>
                <div class="form-group">
                    <label for="captcha">验证码:<img id="captcha_img" src="{:captcha_src()}"  onclick="upCaptcha()" />
                        <span id="times" style="margin-left:10px;">180</span>s
                    </label>
                    <input type="text" class="form-control" id="captcha" placeholder="Enter captcha">
                </div>
                <button type="button" onclick="login()" class="btn btn-primary">登录</button>
            </form>
        </div>
    </div>
</div>
<!-- 关于 -->
<div class="col-12 bg-dark">
    <div class="container">
        <div class="row">
            {:widget('Widgets/about')}
        </div>
    </div>
</div>
{/block}