{extend name="layout"/}

    {block name="title"}<title>确认订单</title>{/block}

    {block name="static"}
    <link rel="stylesheet" href="__CSS__/index/index.css">
    {/block}

{block name="body"}
<!-- 头部 -->
<div class="container-fluid bg-light">
        <div class="col-12 bg-light">
            <!--顶部菜单-->
            {:widget('widgets/head_nav')}
        </div>
    <div class="row">
        <div class="col-12 bg-white">
            <!--搜索预留位-->
            {:widget('widgets/retrieval')}
        </div>
    </div>
</div>
<!--nav预留位-->
{:widget('widgets/main_nav')}
<div class="container mt-2">
    <div class="pb-2 border-bottom col-12 d-inline-flex justify-content-between align-items-center">
        <div class="font-weight-bold">选择收货信息:</div>
        <input onclick='window.location.href="{:url(\"index/Geography/myAddress\")}"'
                type="button" class="btn btn-sm btn-danger"  value="管理地址">
    </div>
    <div class="pt-3 pb-3 border-bottom col-12 d-inline-flex align-items-center">
        <div class="input-group">
            <div class="input-group-prepend">
                <button data-toggle="modal" data-target="#myModal" onclick="getGeography()"
                        class="btn btn-danger" type="button"><i class="fa fa-plus">&nbsp;</i>新地址</button>
            </div>
            <select class="form-control" id="address_id">
                <option disabled>添加一条新地址吧</option>
            </select>
        </div>
    </div>
    <div class="pt-3 pb-3 col-12 d-inline-flex align-items-center">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">支付方式:</span>
            </div>
            <select class="form-control" id="pay">
                <option value="0">在线支付</option>
                <option value="1">货到付款</option>
            </select>
        </div>
    </div>
    <div class="pt-3 pb-1 col-12 d-inline-flex align-items-center">
        <div class="font-weight-bold">商品清单:</div>
    </div>
    <div class="table-responsive-md">
        <table class="table text-center table-nowrap">
            <thead>
            <tr>
                <th>商品名</th>
                <th>出版社</th>
                <th>单价</th>
                <th>数量</th>
                <th>合计(元)</th>
            </tr>
            </thead>
            <tbody>
            {if !$validData || count($validData)==0}
            <tr>
                <td colspan="5">商品库存不足或购物车为空</td>
            </tr>
            {else}
                {volist name="validData" id="validData" $key}
                <tr>
                    <td>{$validData.bookname}</td>
                    <td>{$validData.press}</td>
                    <td>{$validData.price}</td>
                    <!-- 传递商品id,购买数量 -->
                    <td class="orderData" data-book="{$validData.books_id}"
                        id="order{$key}" data-sum="{$validData.sum}">x{$validData.sum}</td>
                    <td>{$validData.price*$validData.sum}</td>
                </tr>
                {/volist}
            <!-- 占位 -->
            {/if}
            </tbody>
        </table>
    </div>
    {if count($ErData)>0}
    <div class="pt-3 pb-1 border-top col-12 d-inline-flex align-items-center">
        <div class="font-weight-bold">未能结算清单:</div>
    </div>
    <div class="mt-3 table-responsive-md">
        <table class="table text-center table-nowrap">
            <thead>
            <tr>
                <th>商品名</th>
                <th>出版社</th>
                <th>库存</th>
                <th>数量</th>
            </tr>
            </thead>
            <tbody>
            {volist name="ErData" id="ErData"}
            <tr>
                <td>{$ErData.bookname}</td>
                <td>{$ErData.press}</td>
                <td>{$ErData.count-$ErData.sales}</td>
                <td>x{$ErData.sum}</td>
            </tr>
            {/volist}
            </tbody>
        </table>
    </div>
    {/if}
    <div class="row d-flex align-items-center pb-3">
        <div class="col-sm-6 mt-3">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">备注:</span>
                </div>
                <input type="text" id="msg" class="form-control" placeholder="给商家留言"/>
            </div>
        </div>
        <div class="col-sm-6 d-inline-flex justify-content-end mt-3">
            <div class="font-weight-bold">商品合计:</div>
            <div class="text-danger ml-2">￥{$sum}</div>
        </div>
    </div>
    <div class="pt-3 pb-3 col-12 d-inline-flex justify-content-end align-items-center">
        <input type="button" class="btn btn-danger" onclick="placeOrder()" value="提交订单">
    </div>
</div>

<div class="col-12 bg-dark mt-2">
    <div class="container">
        <div class="row">
            {:widget('Widgets/about')}
        </div>
    </div>
</div>
<!-- 附件 -->
<div class="modal fade" id="myModal" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- 模态框头部 -->
            <div class="modal-header">
                <h4 class="modal-title">新增地址</h4>
                <!-- 关闭时更新收货地址 -->
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- 模态框主体 -->
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="Province" class="font-weight-bold">省份:</label>
                        <select class="form-control" name="Province" id="Province">
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="city"  class="font-weight-bold">城市:</label>
                        <select class="form-control"  name="city" id="city">
                            <option value=""></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="county"  class="font-weight-bold">县/区:</label>
                        <select class="form-control"  name="county" id="county">
                            <option value=""></option>
                        </select>
                    </div>
                    <div class="form-group" id="townDiv">
                        <label for="town"  class="font-weight-bold">城镇:</label>
                        <select class="form-control"  name="town" id="town">
                            <option value=""></option>
                        </select>
                    </div>
                    <div class="form-group" id="villageDiv">
                        <label for="village"  class="font-weight-bold">乡:</label>
                        <select class="form-control"  name="village" id="village">
                            <option value=""></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="userName" class="font-weight-bold">收件人:</label>
                        <input id="userName" type="text" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label for="Telephone" class="font-weight-bold">电话号码:</label>
                        <input id="Telephone" type="text" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label for="detailed" class="font-weight-bold">详细地址:</label>
                        <textarea id="detailed" rows="3" class="form-control" placeholder="小区/楼层/门牌(选填)"></textarea>
                    </div>
                </form>
            </div>

            <!-- 模态框底部 -->
            <div class="modal-footer">
                <button type="button" onclick="setReceivingAddress()" class="btn btn-secondary" >确定</button>
            </div>

        </div>
    </div>
</div>
<script>
    function placeOrder() {
        layer.confirm('已确认无误?', {
            btn: ['确定','再看看'] //按钮
        }, function() {
            var data = Array();
            var msgData = Array();
            $('.orderData').each(function (i) {
                data[i] = {
                    'books_id': $('#' + this.id).data('book'),
                    'sum': $('#' + this.id).data('sum')
                };
            });
            if (!$("#address_id").find("option:selected").text().trim()
                || $("#address_id").find("option:selected").text().trim() == "") {
                layer.msg('请选择收货信息', {icon: 5, time: 2000});
                return;
            }
            msgData = {
                'msg': $("#msg").val().trim(),
                'address': $("#address_id").find("option:selected").text().trim(),
                'pay': $("#pay").val()
            }
            if (data.length <= 0) {
                layer.msg('没有有效商品信息', {icon: 5, time: 2000});
                return;
            }
            $.ajax({
                url: '{:url("index/Order/placeOrder")}',
                type: 'post',
                dataType: 'json',
                data: {
                    'data': data,
                    'msgData': msgData
                },
                success: function (res) {
                    try {
                        if (res.state == 200) {
                            layer.msg(res.msg, {icon: 1, time: 2000}, function () {
                                window.location.href = '{:url("index/Order/payOrder")}?order_number=' + res.order_number;
                            })
                            return;
                        }
                        if (res.state == 400) {
                            layer.msg(res.msg, {icon: 0, time: 2000});
                            return;
                        }
                    } catch (e) {
                        layer.msg('网络错误,稍后再试', {icon: 0, time: 2000});
                        return;
                    }
                }, error: function (res) {
                    layer.msg('网络错误,稍后再试', {icon: 0, time: 2000});
                    return;
                }
            })
        },function () {
            layer.msg('已取消', {time:2000});
            return;
        });
    }
    function getGeography() {
        getProvince();
    }
    function getProvince() {
        $.ajax({
            url:'{:url("index/Geography/getProvince")}',
            data:'get',
            dataType: 'json',
            success:function (res) {
                try{
                    if(!res.length > 0)
                    {
                        layer.msg('省份加载出错,刷新后重试',{icon:5,time:2000});
                        return;
                    }
                    $("#Province").empty();
                    for(let i=0;i<res.length;i++){
                        $("#Province").append(
                            '<option value="'+
                            res[i].provice_id+
                            '">'+
                            res[i].provice_name+
                            '</option>'
                        );
                    }
                    //初始化城市列表
                    getCity(res[0].provice_id);
                }catch (e) {
                    layer.msg('省份加载出错,刷新后重试',{icon:5,time:2000});
                    return;
                }
            },error:function (res) {
                layer.msg('省份加载出错,刷新后重试',{icon:5,time:2000});
                return;
            }
        })
    }
    function getCity(id) {
        $.ajax({
            url:'{:url("index/Geography/getCity")}?province_id='+id,
            data:'get',
            dataType: 'json',
            success:function (res) {
                try{
                    if(!res.length > 0)
                    {
                        layer.msg('城市列表加载出错,刷新后重试',{icon:5,time:2000});
                        return;
                    }
                    $("#city").empty();
                    for(let i=0;i<res.length;i++){
                        $("#city").append(
                            '<option value="'+
                            res[i].city_id+
                            '">'+
                            res[i].city_name+
                            '</option>'
                        );
                    }
                    //初始化县级
                    getCounty(res[0].city_id);
                }catch (e) {
                    layer.msg('城市列表加载出错,刷新后重试',{icon:5,time:2000});
                    return;
                }
            },error:function (res) {
                layer.msg('城市列表加载出错,刷新后重试',{icon:5,time:2000});
                return;
            }
        })
    }
    function getCounty(city_id) {
        $.ajax({
            url:'{:url("index/Geography/getCounty")}?city_id='+city_id,
            data:'get',
            dataType: 'json',
            success:function (res) {
                try{
                    if(!res.length > 0)
                    {
                        layer.msg('县/区列表加载出错,刷新后重试',{icon:5,time:2000});
                        return;
                    }
                    $("#county").empty();
                    for(let i=0;i<res.length;i++){
                        $("#county").append(
                            '<option value="'+
                            res[i].county_id+
                            '">'+
                            res[i].county_name+
                            '</option>'
                        );
                    }
                    getTown(res[0].county_id);
                }catch (e) {
                    layer.msg('县/区列表加载出错,刷新后重试',{icon:5,time:2000});
                    return;
                }
            },error:function (res) {
                layer.msg('县/区列表加载出错,刷新后重试',{icon:5,time:2000});
                return;
            }
        })
    }
    function getTown(county_id){
        $.ajax({
            url:'{:url("index/Geography/getTown")}?county_id='+county_id,
            data:'get',
            dataType: 'json',
            success:function (res) {
                try{
                    if(!res.length > 0)
                    {
                        $("#townDiv,#villageDiv").hide();
                        //不使用下级
                        $("#town,#village").data('isSet','0');
                        return;
                    }
                    $("#townDiv").show();
                    $("#town").data('isSet','1');
                    $("#town").empty();
                    for(let i=0;i<res.length;i++){
                        $("#town").append(
                            '<option value="'+
                            res[i].town_id+
                            '">'+
                            res[i].town_name+
                            '</option>'
                        );
                    }
                    getVillage(res[0].town_id)
                }catch (e) {
                    layer.msg('城镇列表加载出错,刷新后重试',{icon:5,time:2000});
                    return;
                }
            },error:function (res) {
                layer.msg('城镇列表加载出错,刷新后重试',{icon:5,time:2000});
                return;
            }
        })
    }
    function getVillage(town_id){
        $.ajax({
            url:'{:url("index/Geography/getVillage")}?town_id='+town_id,
            data:'get',
            dataType: 'json',
            success:function (res) {
                try{
                    if(!res.length > 0)
                    {
                        $("#villageDiv").hide();
                        //不使用下级
                        $("#village").data('isSet','0');
                        return;
                    }
                    $("#villageDiv").show();
                    $("#village").data('isSet','1');
                    $("#village").empty();
                    for(let i=0;i<res.length;i++){
                        $("#village").append(
                            '<option value="'+
                            res[i].village_id+
                            '">'+
                            res[i].village_name+
                            '</option>'
                        );
                    }
                }catch (e) {
                    layer.msg('村列表加载出错,刷新后重试',{icon:5,time:2000});
                    return;
                }
            },error:function (res) {
                layer.msg('村列表加载出错,刷新后重试',{icon:5,time:2000});
                return;
            }
        })
    }
    $(function () {
        //加载已有地址
        getAddress();
        //选择省份更新城市列表
        $("#Province").change(function () {
            getCity(this.value);
        });
        //选择城市更新县列表
        $("#city").change(function () {
            getCounty(this.value);
        });
        //选择县更新城镇列表
        $("#county").change(function () {
            getTown(this.value);
        });
        //选择镇更新村列表
        $("#town").change(function () {
            getVillage(this.value);
        });
    })
    function setReceivingAddress() {
        //收件人
        var userName = $("#userName").val().trim();
        //电话号码
        var telephone = $('#Telephone').val().trim();
        //详细地址
        var detailed = $('#detailed').val().trim();
        //省份
        var Province =  $("#Province").val();
        //城市
        var city = $("#city").val();
        //县/区
        var county = $("#county").val();
        if(!Province>0){
            layer.msg('请选择有效地区(省/市)');
            return;
        }
        if(!city>0){
            layer.msg('请选择有效地区(市/区)');
            return;
        }
        if(!county>0){
            layer.msg('请选择有效地区(县/区)');
            return;
        }
        if(userName ==""||!userName)
        {
            layer.msg('请填写收件人姓名');
            return;
        }
        if(!/^1[0-9]{10}$/.test(telephone))
        {
            layer.msg('请输入有效的正确号码,接收包裹通知');
            return;
        }
        var data={
            'user_name':userName,
            'telephone':telephone,
            'detailed':detailed,
            'province_id':Province,
            'city_id':city,
            'county_id':county
        }
        //城镇
        if($("#town").data('isSet') == 1)
        {
            var town = $("#town").val();
            data={
                'user_name':userName,
                'telephone':telephone,
                'detailed':detailed,
                'province_id':Province,
                'city_id':city,
                'county_id':county,
                'town_id':town
            }
        }
        //乡村
        if($("#village").data('isSet') == 1)
        {
            var village = $("#village").val();
            data={
                'user_name':userName,
                'telephone':telephone,
                'detailed':detailed,
                'province_id':Province,
                'city_id':city,
                'county_id':county,
                'town_id':town,
                'village_id':village
            }
        }
        layer.confirm('已确认无误?', {
            btn: ['确定','再看看'] //按钮
        }, function(){
            //异步提交
            $.ajax({
                url:'{:url("index/Geography/setReceivingAddress")}',
                type:'post',
                dataType:'json',
                data:{
                    data
                }
                ,success:function (res) {
                    try {
                        if(res.state == 200)
                        {
                            layer.msg(res.msg,{icon:1,time:2000});

                            return;
                        }
                        if(res.state == 400)
                        {
                            layer.msg(res.msg,{icon:0,time:2000});
                            return;
                        }
                    }catch (e) {
                        layer.msg('网络错误,稍后再试',{icon:0,time:2000});
                        return;
                    }
                },error:function (res) {
                    layer.msg('网络错误,稍后再试',{icon:0,time:2000});
                    return;
                }
            })
        }, function(){
            layer.msg('已取消', {time:2000});
            return;
        });
    }
    //获取收货地址
    function getAddress()
    {
        $.ajax({
            url:'{:url("index/Geography/getAddress")}',
            dataType:'json',
            type:'get',
            success:function (res) {
                if(res.length<=0||!res){
                    $("#address_id").empty().append('<option disabled>请添加新地址</option>');
                    return;
                }
                $("#address_id").empty();
                for(let i=0;i<res.length;i++)
                {
                    if(res[i].state == 1)
                    {
                        $("#address_id").append(
                            '<option value="'+res[i].region.province_name+'">'
                            +res[i].region.province_name+'-'+
                            res[i].region.city_name+'-'+
                            res[i].region.county_name+
                            res[i].region.county_name+
                            res[i].region.village_name+
                            res[i].item.detailed+
                            '['+ res[i].item.user_name+'|收]'+
                            '(电话:'+res[i].item.telephone+
                            ')</option>'
                        );
                    }
                    if(res[i].state == 2)
                    {
                        $("#address_id").append(
                            '<option value="'+res[i].region.province_name+'">'
                            +res[i].region[0].provice_name+'-'+
                            res[i].region[0].city_name+'-'+
                            res[i].region[0].county_name+
                            res[i].item.detailed+
                            '['+ res[i].item.user_name+'|收]'+
                            '(电话:'+res[i].item.telephone+
                            ')</option>'
                        );
                    }
                }
            }
        })
    }
</script>
{/block}
