{extend name="layout"/}

    {block name="title"}<title>我的订单</title>{/block}

    {block name="static"}
    <link rel="stylesheet" href="__CSS__/index/index.css">
    {/block}

{block name="body"}
<!-- 头部 -->
<div class="container-fluid bg-light">
        <div class="col-12 bg-light">
            <!--顶部菜单-->
            {:widget('widgets/head_nav')}
        </div>
    <div class="row">
        <div class="col-12 bg-white">
            <!--搜索预留位-->
            {:widget('widgets/retrieval')}
        </div>
    </div>
</div>
<!--nav预留位-->
{:widget('widgets/main_nav')}
<div class="container" style="min-height: 500px;">
    <div class="row">
        <div class="d-inline-flex col-12 justify-content-start border-bottom
        align-items-center mt-3 pb-1 font-weight-bold">
            <a href='{:url("index/Order/payOrder")}'>我的订单:</a>
        </div>
    </div>
    <div class="accordion mt-3" id="accordion">
    {if !$order_data || count($order_data)==0}

    {else}
        {volist name="order_data" id="order_data"$key}
        <div class="card">
            <div class="card-header d-inline-flex justify-content-between
             justify-content-center align-items-center">
                <strong>订单编号:{$order_data.order_number}
                    <span class="text-danger">(￥{$order_data.money})</span>
                </strong>
                <a class="card-link" data-toggle="collapse" href="#collapseOne{$key}">
                    详情.....
                </a>
            </div>
            <div id="collapseOne{$key}" class="collapse {$key == 0?'show':''}" data-parent="#accordion">
                <div class="card-body">
                    <div class="col-12 d-inline-flex border">
                        {:widget('Widgets/getBookName',['str'=>$order_data.books_id,'sum'=>$order_data.books_sum])}
                        <div class="border-left  ml-3 pl-3">
                            <dl>
                                <dd>订单编号 : <span class="text-danger font-weight-bold">{$order_data.order_number}</span></dd>
                                <dd>创建时间 : <span class="text-danger font-weight-bold">{$order_data.create_time}</span></dd>
                                <dd>订单备注 : <span class="text-danger font-weight-bold">{$order_data.msg ==""?"无":$order_data.msg}</span></dd>
                                <dd>支付方式 : <span class="text-danger font-weight-bold">{$order_data.pay==0?'在线支付':'货到付款'}</span></dd>
                                <dd>快递单号 : <span class="text-danger font-weight-bold">{$order_data.express ==""?"无":$order_data.express}</span></dd>
                            </dl>
                        </div>
                    </div>
                    <div class="col-12 mt-1 d-inline-flex align-items-center">
                        <strong>收货信息 : {$order_data.address}</strong>
                    </div>
                    <div class="row">
                        <div class="col-12 mt-1 d-inline-flex justify-content-end
                        align-items-center">
                            {if $order_data.pay_state == 1}
                                {if $order_data.order_state==3}
                                <button class="btn btn-sm btn-success">已支付</button>
                                {else}
                                <button onclick="logistics({$order_data.Id})" class="btn btn-sm btn-success">查看物流</button>
                                {/if}
                            {else}
                                {if $order_data.order_state==3}
                                <button class="btn btn-sm btn-success">已完成</button>
                                {/if}
                                {if $order_data.order_state==2}
                                <button class="btn btn-sm btn-light">于({:date('Y-m-d H:i:s',strtotime($order_data.create_time)+600)})已过期</button>
                                {/if}
                                {if $order_data.order_state==1}
                                <button class="btn btn-sm btn-light">已取消</button>
                                {/if}
                                {if $order_data.order_state==0}
                                <button onclick="Pay({$order_data.Id})" class="btn btn-sm btn-danger">待支付</button>
                                {/if}
                            {/if}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {/volist}
    {/if}
    </div>
    <div class="d-flex align-items-center mt-2 justify-content-center">
        {$page}
    </div>
</div>
<div class="col-12 bg-dark mt-2">
    <div class="container">
        <div class="row">
            {:widget('Widgets/about')}
        </div>
    </div>
</div>
<!-- 附件 -->
<div class="modal fade" id="myModal" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- 模态框头部 -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- 模态框主体 -->
            <div class="modal-body">
                <dl class="border-bottom">
                    <dt class="pb-2 mb-1">详细清单:</dt>
                    <dd>商品金额:<span id="order_money" class="ml-1 text-danger"></span></dd>
                    <dd>运费:<span id="freight" class="ml-1 text-danger"></span></dd>
                    <dd>合计:<span id="sum" class="ml-1 text-danger"></span></dd>
                </dl>
                <form>
                    <label for="payPwd">支付密码:</label>
                    <div class="input-group">
                        <input type="password" id="payPwd"
                               class="form-control form-control-sm"/>
                        <div class="input-group-append">
                            <button id="pay" class="btn btn-danger" type="button">确定</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    function Pay(Id) {
        $.get('{:url("index/Order/payment")}?Id='+Id,function (res) {
            try{
                if(res.state==200)
                {
                    $("#order_money").empty().append(res.money);
                    $("#freight").empty().append(res.freight);
                    $("#sum").empty().append(Number(res.freight)+Number(res.money));
                    $("#freight").data('Id',Id);
                    $("#order_money").data('money',res.money);
                    $("#myModal").modal();
                    return;
                }
                if(res.state==400)
                {
                    layer.alert(res.msg,{icon: 0});
                    return;
                }
                layer.alert('网络故障,刷新重试',{icon: 0});
                window.location.reload();
            }catch (e) {
                layer.alert('网络故障,刷新重试',{icon: 0});
                window.location.reload();
            }
        },'json');
    }
    $(function () {
        $("#pay").click(function () {
            var pay_pass =$("#payPwd").val().trim();

            if(!/^[0-9A-Za-z]{6,16}$/.test(pay_pass))
            {
                layer.msg('支付密码仅支持6-16位数字或字母');
                return;
            }
            $.ajax({
                url:'{:url("index/Order/payment")}',
                type:'post',
                dataType:'json',
                data:{
                    'payPwd':pay_pass,
                    'Id':$("#freight").data('Id'),
                    'money':$("#order_money").data('money')
                },success:function (res) {
                    if(res.state==200)
                    {
                        layer.msg(res.msg,{icon:1,time:2000},function () {
                            window.location.reload();
                        });
                        return;
                    }
                    if(res.state==400)
                    {
                        layer.msg(res.msg,{icon:0,time:2000});
                        return;
                    }
                },error:function () {
                    layer.msg('网络错误',{icon:0});
                    return;
                }
            })
        });
    })
</script>
{/block}
