<div class="col-12 text-white d-inline-flex justify-content-start pt-3 mb-3" style="height: 200px;
 border-bottom:black 1px solid">
    <div class="col-4 d-flex flex-column">
        <h5>购物指南</h5>
        <h6>账户注册</h6>
        <h6>购物流程</h6>
        <h6>积分制度</h6>
    </div>
    <div class="col-4 d-flex flex-column">
        <h5>配送方式</h5>
        <h6>配送范围</h6>
        <h6>支持物流</h6>
        <h6>邮费价格</h6>
    </div>
    <div class="col-4 d-flex flex-column">
        <h5>售后服务</h5>
        <h6>退款说明</h6>
        <h6>售后保障</h6>
    </div>
</div>
<div class="col-12 text-white text-center mb-3">
    <small>VcLin --- vclin.xyz.保留所有权利.</small>
</div>