.hidden-lg{
    display: none;
}
.flex-btn{
    height: 50px;
    width: 50px;
    font-size: 8px;
    text-align: center;
    line-height: 20px;
}
@media screen and (max-width:720px){  /*小屏幕隐藏*/
    .hidden-sm{
        display: none;
    }
    .hidden-lg{
        display: block;
    }
}